<h1><%= @tournament.name %></h1>

<% unless @tournament.has_user? current_user %>
  <p>You are not participating in this tournament, <%= link_to "join now", join_tournament_path(@tournament), :method => :post %>.</p>
<% end %>

<table class="table">
  <thead>
    <tr>
      <th>Player</th>
      <th>Rank</th>
    </tr>
  </thead>
  <tbody>
    <% @tournament.ranks.each do |rank| %>
      <tr>
        <td><%= rank.user.name %></td>
        <td><%= number_with_precision rank.rank %></td>
      </tr>
    <% end %>
  </tbody>
</table>
