<h1><%= @tournament.name %></h1>

<% unless @tournament.has_user? current_user %>
  <p>You are not participating in this tournament, <%= link_to "join now" %>.</p>
<% end %>

<table class="table">
  <thead>
    <tr>
      <th>Player</th>
      <th>Rank</th>
    </tr>
  </thead>
  <tbody>
    <% @tournament.ranks.each do |rank| %>
      <tr>
        <td><%= rank.user.name %></td>
        <td><%= rank.mu - 3.0 * rank.sigma %></td>
      </tr>
    <% end %>
  </tbody>
</table>
