<div class="page-header">
  <h1><%= t Game.model_name.human.pluralize %></h1>
</div>

<% if @game_ranks.any? %>
  <h2><%= t '.pending' %></h2>

  <ul>
    <% @game_ranks.each do |game_rank| %>
      <li><%= link_to "#{game_rank.game.versus}", game_path(game_rank.game) %> on <%= link_to game_rank.game.tournament.name, tournament_path(game_rank.game.tournament) %></li>
    <% end %>
  </ul>
<% end %>
