# For Rails key generator
SECRET_KEY_BASE: '86bf598b3969edfc08765adaf649642a15276fd571b14e45ac3d99d9b5e4ede19cedbb05026677d5e6dda4ee421043e6c17fc5d570c37bb62c3c9d66015361a5'

# Exception notification email
SERVICE_EMAIL: 'example@example.com'

# Google Analytics ID
GOOGLE_ANALYTICS:

# Google OAuth2 (https://code.google.com/apis/console)
GOOGLE_KEY:
GOOGLE_SECRET:
