<div class="page-header">
  <h1>{{versus}}</h1>
</div>

<dl class="dl-horizontal">
  <dt>Tournament</dt>
  <dd>{{#linkTo 'tournament' tournament}}{{tournament.name}}{{/linkTo}}</dd>
</dl>

{{render 'gameRanks' gameRanks}}
