<div class="page-header">
  <h1><img {{bindAttr src="currentUser.largeImageUrl"}} /> {{currentUser.name}}</h1>
</div>

<ul class="nav nav-tabs">
  <li class="active">{{#linkTo "index"}}News Feed{{/linkTo}}</li>
</ul>

<div class="row">
  <div class="span7">
    {{render "games"}}
  </div>
  <div class="span5">
    {{render "tournaments"}}
  </div>
</div>
