<div class="page-header">
  <h1><i class="icon-user"></i> User</h1>
</div>

<ul class="nav nav-tabs">
  <li class="active">{{#linkTo "index"}}News Feed{{/linkTo}}</li>
</ul>

<div class="row">
  <div class="span7">
    {{render "games"}}
  </div>
  <div class="span5">
    {{render "tournaments"}}
  </div>
</div>
