<h2>Tournaments</h2>
<ul class="nav nav-tabs nav-stacked">
  <li><a href="#"><i class="icon-magic"></i> Start Tournament</a></li>
  {{#each controller}}
    <li><a href="#"><i class="icon-list"></i> {{name}}</a></li>
  {{/each}}
</ul>
