<div class="page-header">
  <h1>{{name}}</h1>
</div>

<ul class="nav nav-tabs">
  <li class="active">{{#linkTo "tournament.ratings" this}}Ladder{{/linkTo}}</li>
  {{#if page.id}}
    <li>{{#linkTo "tournament.information" this}}Information{{/linkTo}}</li>
  {{/if}}
</ul>

{{outlet}}
