<h2>Tournaments</h2>
<ul class="nav nav-tabs nav-stacked">
  {{#each tournament in controller}}
    <li>{{#linkTo "tournament" tournament}}<i class="icon-list"></i> {{tournament.name}}{{/linkTo}}</li>
  {{/each}}
</ul>
